@import "_variables.scss";

/*-----Mixins-----*/

@mixin setBoxShadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin setColors($background-color) {
  background-color: $background-color;
  @if $background-color==$primary-color {
    color: $primary-font-color;
  }
  @else if $background-color==$secondary-color {
    color: $secondary-font-color;
  }
}

@mixin setContainerHeight($value) {
  height: $value;
  min-height: ($min-height * ($value / 100%));
}

@mixin setFontSize($multiplier) {
  font-size: ($primary-font-size * $multiplier);
}

@mixin setSplashScreen() {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

@mixin setTextOverflow($value) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $value;
}

@mixin setTransition($value) {
  -moz-transition: $value;
  -o-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}
