@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/*-----Colors-----*/


/*Site colors*/

$primary-color: #f4f5f6;
$secondary-color: #171d1f;

/*-----Dimensions-----*/

$tablet-min-width: 768px;
$desktop-min-width: 992px;
$min-height: 568px;
$min-width: 320px;

/*-----Fonts-----*/


/*Font style*/

$font-style: 'Roboto',
'Segoe UI',
'Tahoma',
'Geneva',
'Verdana',
'sans-serif';

/*Font sizes*/

$primary-font-size: 28px;

/*Font size multipliers*/

$xxs-font-multiplier: 0.5;
$xs-font-multiplier: 1.2;
$s-font-multiplier: 1.5;
$m-font-multiplier: 2;
$l-font-multiplier: 4;
$xl-font-multiplier: 6;
$xxl-font-multiplier: 8;

/*
    Font size multiplier reference:
    $xxs-font-multiplier: 14px;
    $xs-font-multiplier: 34px;
    $s-font-multiplier: 42px;
    $m-font-multiplier: 56px;
    $l-font-multiplier: 112px;
    $xl-font-multiplier: 168px;
    $xxl-font-multiplier: 224px;
*/


/*Font colors*/

$primary-font-color: black;
$secondary-font-color: white;

/*Font weights*/

$light-font: 300;
$semi-light-font: 400;
$semi-bold-font: 600;
$bold-font: 700;
