@import "variables.scss";

@mixin setColors($background-color) {
  background-color: $background-color;
  @if $background-color==$primary-color {
    color: $primary-font-color;
  }
  @else if $background-color==$secondary-color {
    color: $secondary-font-color;
  }
}

@mixin setContainerHeight($value) {
  height: $value;
  min-height: ($min-height * ($value / 100%));
}

@mixin setFontSize($multiplier) {
  font-size: ($primary-font-size * $multiplier);
}

@mixin setSplashScreen() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin setTextOverflow($value) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $value;
}
