<!--Spinner-->
<app-spinner *ngIf="showSpinner"></app-spinner>
<!--Navbar-->
<button id="navbar-open-button" (click)="navbarToggleButtonClicked(true)" *ngIf="!showNavbar">
  <div class="navbar-open-button-bar top"></div>
  <div class="navbar-open-button-bar middle"></div>
  <div class="navbar-open-button-bar bottom"></div>
</button>
<button id="navbar-close-button" (click)="navbarToggleButtonClicked(false)" *ngIf="showNavbar">
  <div class="navbar-close-button-bar left"></div>
  <div class="navbar-close-button-bar right"></div>
</button>
<div id="navbar" [ngClass]="{'open':showNavbar}">
  <div class="navbar-item" routerLink="/notes" routerLinkActive="active">
    <i class="fa fa-music" aria-hidden="true"></i>
    <span class="navbar-item-text" *ngIf="showNavbar">Notes</span>
  </div>
  <div class="navbar-item" routerLink="/chords" routerLinkActive="active">
    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
    <span class="navbar-item-text" *ngIf="showNavbar">Chords</span>
  </div>
  <div class="navbar-item" routerLink="/strumming" routerLinkActive="active">
    <i class="fa fa-arrows-v" aria-hidden="true"></i>
    <span class="navbar-item-text" *ngIf="showNavbar">Strumming</span>
  </div>
</div>
<!--Body content-->
<div id="content">
  <div id="content-header">
    <h1>{{currentRoute}}</h1>
  </div>
  <div id="content-body">
    <router-outlet></router-outlet>
  </div>
</div>
