<!--Spinner-->
<app-spinner *ngIf="showSpinner"></app-spinner>
<!--Navbar-->
<button id="navbar-open-button" (click)="navbarToggleButtonClicked(true)" *ngIf="!showNavbar">
  <div class="navbar-open-button-bar top"></div>
  <div class="navbar-open-button-bar middle"></div>
  <div class="navbar-open-button-bar bottom"></div>
</button>
<button id="navbar-close-button" (click)="navbarToggleButtonClicked(false)" *ngIf="showNavbar">
  <div class="navbar-close-button-bar left"></div>
  <div class="navbar-close-button-bar right"></div>
</button>
<div id="navbar" (mouseleave)="navbarToggleButtonClicked(false)" (mouseover)="navbarToggleButtonClicked(true)" [ngClass]="{'open':showNavbar}"></div>
<!--Body content-->
<div id="content">
  <div id="content-header">
      <h1>{{currentRoute}}</h1>
  </div>
  <div id="content-body">
    <router-outlet></router-outlet>
  </div>
</div>