<div id="timer-container">
  <input [attr.disabled]="wasStarted?'true':null" [class.active]="isPlaying" defaultValue="{{timer.default}}" id="timer-range" max="{{timer.max}}" min="{{timer.min}}" name="range" [(ngModel)]="value" step="{{timer.step}}" type="range" />
</div>
<div id="timer-controls-container">
  <button [attr.disabled]="!wasStarted?'true':null" class="timer-control" (click)="stop()"><i class="fa fa-stop" aria-hidden="true"></i></button>
  <button class="timer-control" (click)="play()" *ngIf="!isPlaying"><i class="fa fa-play" aria-hidden="true"></i></button>
  <button class="timer-control" (click)="pause()" *ngIf="isPlaying"><i class="fa fa-pause" aria-hidden="true"></i></button>
  <button [attr.disabled]="!wasStarted?'true':null" class="timer-control" (click)="reset()"><i class="fa fa-undo" aria-hidden="true"></i></button>
</div>
