@import "../../styles/_variables.scss";

/*-----Strumming-----*/

#chord-container {
  align-items: center;
  display: flex;
  height: 75%;
  justify-content: center;
}

#controls-container {
  height: 25%;
}

#chord-name {
  font-size: 50px;
  margin-right: 20px;
}

#chord-image {
  height: 200px;
}

@media screen and (min-width: $tablet-min-width) {
  #chord-name {
    font-size: 100px;
    margin-right: 35px;
  }
  #chord-image {
    height: 300px;
  }
}

@media screen and (min-width: $desktop-min-width) {
  #chord-name {
    font-size: 150px;
    margin-right: 50px;
  }
  #chord-image {
    height: 300px;
  }
}
