@import "./styles/_reset.scss";
@import "./styles/_mixins.scss";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

/*-----Layout-----*/

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $primary-color;
  min-height: $min-height;
  min-width: $min-width;
  font: {
    family: $font-style;
    size: $primary-font-size;
  }
}


/*-----Base-----*/

button {
  background: transparent;
  cursor: pointer;
  outline: none;
}

h1 {
  font-size: $primary-font-size;
}

@media screen and (min-width: $tablet-min-width) {
  h1 {
    @include setFontSize($xs-font-multiplier);
  }
}

@media screen and (min-width: $desktop-min-width) {
  h1 {
    @include setFontSize($s-font-multiplier);
  }
}
