@import "./styles/_reset.scss";
@import "./styles/_mixins.scss";

/*-----Layout-----*/

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $primary-color;
  font: {
    family: $font-style;
    size: $primary-font-size;
  }
}
