@import "./styles/_reset.scss";
@import "./styles/_mixins.scss";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

/*-----Layout-----*/

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $primary-color;
  font: {
    family: $font-style;
    size: $primary-font-size;
  }
}


/*-----Base-----*/

button {
  background: transparent;
}
